<footer class="main-footer">
</footer>

<script src="/admin_assets/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/admin_assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin_assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/admin_assets/plugins/fastclick/fastclick.js"></script>
<script src="/admin_assets/dist/js/app.min.js"></script>
<script src="/admin_assets/dist/js/demo.js"></script>
</body>
</html>
